body {
  background-color: #bdffce;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* ustalić wielkość tekstu */
h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

/* Properties of grid */
.boardGame {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(6,1fr); */
  grid-template-areas:
    "pOne pOne pOne pOne pOne pOne pTwo pTwo pTwo pTwo pTwo pTwo"
    "score score score score score score score score score score score score"
    "namePOne namePOne namePOne namePOne namePOne button button namePTwo namePTwo namePTwo namePTwo namePTwo"
    "resultPOne resultPOne resultPOne resultPOne resultPOne nameRound nameRound resultPTwo resultPTwo resultPTwo resultPTwo resultPTwo"
    "firstDicePOne secondDicePOne thirdDicePOne fourthDicePOne fifthDicePOne firstRoundPOne firstRoundPTwo firstDicePTwo secondDicePTwo thirdDicePTwo fourthDicePTwo fifthDicePTwo"
    "firstDicePOne secondDicePOne thirdDicePOne fourthDicePOne fifthDicePOne secondRoundPOne secondRoundPTwo firstDicePTwo secondDicePTwo thirdDicePTwo fourthDicePTwo fifthDicePTwo"
}

.headingOfPlayerOne {
  grid-area: pOne;
}

.headingOfPlayerOne>h1 {
  text-align: right;
}

.headingOfPlayerTwo {
  grid-area: pTwo;
  margin-left: 0;
}

.headingOfPlayerTwo>* {
  display: inline-block;
}

.scoreBoard {
  grid-area: score;
  text-align: center;
}

.scoreBoard>h2 {
  display: inline-block;
}

/* od tego miejsca przerobić css grid */
/* Grid area */
.nameOfPlayerOne {
  grid-area: namePOne;
  margin-left: auto;
  margin-right: auto;
}

.resultOfPlayerOne {
  grid-area: resultPOne;
}

.firstDicePlayerOne {
  grid-area: firstDicePOne;
}

.secondDicePlayerOne {
  grid-area: secondDicePOne;
}

.thirdDicePlayerOne {
  grid-area: thirdDicePOne;
}

.fourthDicePlayerOne {
  grid-area: fourthDicePOne;
}

.fifthDicePlayerOne {
  grid-area: fifthDicePOne;
}

.buttonRoll {
  grid-area: button;
  margin: auto;
}

.nameRound {
  grid-area: nameRound;
}

.firstRoundPOne {
  grid-area: firstRoundPOne;
}

.firstRoundPTwo {
  grid-area: firstRoundPTwo;
}

.secondRoundPOne {
  grid-area: secondRoundPOne;
}

.secondRoundPTwo {
  grid-area: secondRoundPTwo;
}

.nameOfPlayerTwo {
  grid-area: namePTwo;
}

.resultOfPlayerTwo {
  grid-area: resultPTwo;
}

.firstDicePlayerTwo {
  grid-area: firstDicePTwo;
}

.secondDicePlayerTwo {
  grid-area: secondDicePTwo;
}

.thirdDicePlayerTwo {
  grid-area: thirdDicePTwo;
}

.fourthDicePlayerTwo {
  grid-area: fourthDicePTwo;
}

.fifthDicePlayerTwo {
  grid-area: fifthDicePTwo;
}

.nameRound, .firstRoundPOne, .firstRoundPTwo, .secondRoundPOne, .secondRoundPTwo {
  margin: auto;
}

.dice {
  max-width: 100px;
text-align:center;
}
