body {
  background-color: #bdffce;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* ustalić wielkość tekstu */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

/* Properties of grid */
.boardGame{
  display:grid;
  grid-template-columns: repeat(12,1fr);
  /* grid-template-rows: repeat(6,1fr); */
  grid-template-areas:
  "pOne pOne pOne pOne pOne pOne pTwo pTwo pTwo pTwo pTwo pTwo"
  "score score score score score score score score score score score score "
  "nameOfPlayerOne nameOfPlayerOne nameOfPlayerOne nameOfPlayerOne nameOfPlayerOne button button nameOfPlayerTwo nameOfPlayerTwo nameOfPlayerTwo nameOfPlayerTwo nameOfPlayerTwo"
  "resultPOne resultPOne resultPOne resultPOne resultPOne . . resultPTwo resultPTwo resultPTwo resultPTwo resultPTwo"
  "boardPOne boardPOne boardPOne boardPOne boardPOne . . boardPTwo boardPTwo boardPTwo boardPTwo boardPTwo"
  "boardPOne boardPOne boardPOne boardPOne boardPOne . . boardPTwo boardPTwo boardPTwo boardPTwo boardPTwo"

}

.nameOfPlayerOne{
  grid-area:pOne;
}

.nameOfPlayerOne>h1{
  text-align:right;
}

.nameOfPlayerTwo{
  grid-area:pTwo;
  margin-left:0;
}

.nameOfPlayerTwo>*{
  display:inline-block;
}

.scoreBoard {
  grid-area:score;
  text-align: center;
}

.scoreBoard>h2 {
  display: inline-block;
}

/* Grid area */
.playerOneBoard>div>h2{
  grid-area:nameOfPlayerOne;
}

.playerOneBoard>div:nth-child(2){
  grid-area:resultPOne;
}

.playerOneBoard .boardOfDice{
  grid-area:boardPOne;
}

.roundBoard>div>input{
  grid-area:button;
}





.playerOneBoard>div>h2{
  grid-area:nameOfPlayerTwo;
}

.playerTwoBoard>div:nth-child(2){
  grid-area:resultPTwo;
}

.playerTwoBoard .boardOfDice{
  grid-area:boardPTwo;
}

.playerOneBoard {
  background-color: #997960;
}

.roundBoard {

}

.playerTwoBoard {
  background-color: #997960;

}

.boardOfDice{
  background-color: red;
  margin-left:10px;
  margin-right:10px;
}

.dice{
  height:auto;
  width:100px;
}

.boardOfDice>div{
  display:inline-block;
}
